@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.color-w {
  color: #fff;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.f-sm {
  font-size: 14px;
}

.f-m {
  font-size: 18px;
}

.f-lg {
  font-size: 24px;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

img {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.form__box {
  position: relative;
}

.form__box:not(:last-child) {
  margin-bottom: 2rem;
}

.form__box--icon .form__el {
  padding-left: 3rem;
}

.form__el {
  background: #23232b;
  border: none;
  outline: none;
  height: 3rem;
  border-radius: 1rem;
  padding-left: 1rem;
  display: block;
  color: #9fa0a3;
  font-size: 1rem;
  line-height: 3rem;
  width: 100%;
}

.form__el::-webkit-input-placeholder {
  color: #78797d;
}

.form__el:-ms-input-placeholder {
  color: #78797d;
}

.form__el::-ms-input-placeholder {
  color: #78797d;
}

.form__el::placeholder {
  color: #78797d;
}

.form__el--search {
  min-width: 20rem;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9fa0a3;
  font-size: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__list li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list a {
  color: #fff;
  background: #23232b;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list a:hover {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.header .user {
  overflow: hidden;
}

.sidebar {
  width: 8rem;
  min-height: 100vh;
  background: #1a1b20;
  padding: 2rem 1rem;
  border-right: 1px solid #232323;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 2rem 0 0 2rem;
  position: relative;
}

.sidebar .brand {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sidebar__menu {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__list li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.sidebar__link,
.sidebar .theme__toggler {
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
}

.sidebar__link-text,
.sidebar .theme__toggler-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7rem;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.sidebar__link--active, .sidebar__link:hover,
.sidebar .theme__toggler--active,
.sidebar .theme__toggler:hover {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.sidebar__dropdown {
  background: #23232b;
  display: none;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}

.sidebar__dropdown--active {
  display: block;
}

.sidebar__dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__dropdown li {
  margin: 0;
}

.sidebar__dropdown a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
}

.sidebar__dropdown a:hover {
  background: #18181d;
}

.sidebar:hover {
  width: 16rem;
}

.sidebar:hover .sidebar__link {
  width: 12rem;
}

.sidebar:hover .sidebar__link-text {
  opacity: 1;
  left: 3rem;
}

.sidebar__footer {
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer {
  font-size: 0.75rem;
  color: #9fa0a3;
}

.btn {
  border-radius: 1rem;
  display: inline-block;
  border: none;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn--sm {
  font-size: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.btn--lg {
  font-size: 1.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.btn--p {
  background: #1a1b20;
  color: #fff !important;
}

.btn--p:hover {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.btn--s {
  background: #23232b;
  color: #fff !important;
}

.btn--s:hover {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.btn--rectangle {
  border-radius: 0;
}

.btn--outline {
  outline: 2px solid #0d80e5;
  color: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.btn--outline:hover {
  background: #0d80e5;
  color: #fff;
}

.btn__icon {
  margin-right: 0.5rem;
}

.btn__icon--animated {
  -webkit-animation: spin linear 1s infinite;
          animation: spin linear 1s infinite;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a1b20;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d80e5;
}

.card {
  background: #1a1b20;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.card a:hover {
  color: #0d80e5;
}

.card--accent {
  background: #0d80e5;
}

.card--accent a:hover {
  color: #fff;
}

.card--accent .card__header {
  border-bottom-color: #4aa5f5;
}

.card--accent .card__footer {
  border-top-color: #4aa5f5;
}

.card--glass .card__img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(https://46c4ts1tskv22sdav81j9c69-wpengine.netdna-ssl.com/wp-content/uploads/prod/sites/2/2021/10/Windows-11-Bloom-Screensaver-Dark-scaled.jpg);
  background-size: cover;
}

.card--glass .card__links a:hover {
  color: #1a1b20;
}

.card--glass .card__content {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px) saturate(240%) contrast(100%) brightness(140%);
          backdrop-filter: blur(10px) saturate(240%) contrast(100%) brightness(140%);
}

.card--glass .card__header,
.card--glass .card__footer {
  border: none;
}

.card--hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card--hover:hover {
  background: #15161a;
}

.card__header, .card__body, .card__footer {
  padding: 1rem;
  color: #fff;
}

.card__header {
  border-bottom: 1px solid #232323;
}

.card__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__links a {
  color: #fff;
}

.card__links li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card__links li:last-child {
  margin-right: 0;
}

.card__title {
  font-size: 1.125rem;
}

.card__body {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.card__footer {
  border-top: 1px solid #232323;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #23232b;
}

.wrapper__title {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}

.dropdown {
  position: relative;
}

.dropdown__toggle {
  width: 15rem;
}

.dropdown--active .dropdown__toggle {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.dropdown__body, .dropdown__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dropdown__footer {
  border-top: 1px solid #1a1b20;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown__menu {
  width: 15rem;
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: #23232b;
}

.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.dropdown__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f2f2f2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
}

.dropdown__link:hover {
  background: #0d80e5;
  -webkit-box-shadow: 0 0 8px #0d80e5;
          box-shadow: 0 0 8px #0d80e5;
}

.dropdown__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  padding: 1rem;
  color: #fff;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.auth__form {
  width: 500px;
  border-radius: 1rem;
  padding: 2rem;
  background: #1a1b20;
  background: linear-gradient(-30deg, #23232b, #1a1b20 60%);
}

.auth__title, .auth__text {
  color: #fff;
  margin-bottom: 1rem;
}

body {
  background: linear-gradient(45deg, #72798b, #474955);
}

main {
  padding: 2rem;
  width: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  border-radius: 2rem;
  background: #1a1b20;
  -webkit-box-shadow: 0 10px 50px #1a1b20;
          box-shadow: 0 10px 50px #1a1b20;
}
