<div class="header__left">
  <div class="header__search">
    <div class="form__box form__box--icon">
      <ion-icon class="form__icon" name="search-outline"></ion-icon>
      <input
        class="form__el form__el--search"
        type="text"
        placeholder="Search"
      />
    </div>
  </div>
</div>
<div class="header__right">
  <ul class="header__list">
    <li>
      <a href="">
        <ion-icon name="notifications-outline"></ion-icon>
      </a>
    </li>
    <li>
      <a href="">
        <ion-icon name="settings-outline"></ion-icon>
      </a>
    </li>
    <li>
      <a class="user" href="">
        <img src="img/avatar.jfif" alt="" class="user__avatar" />
      </a>
    </li>
  </ul>
</div>
