<div class="sidebar sidebar--collapsed">
  <div class="brand">
    <a class="brand__link" href="">
      <img src="img/logo2.png" class="brand__logo" alt="" />
    </a>
  </div>
  <div class="sidebar__menu">
    <ul class="sidebar__list">
      <li>
        <a class="sidebar__toggle" href="">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </a>
      </li>
      <li>
        <a
          class="sidebar__link sidebar__link--active"
          title="Dashboard"
          href=""
        >
          <ion-icon name="pizza-outline"></ion-icon>
          <span class="sidebar__link-text"> Dashboard </span>
        </a>
      </li>
      <li>
        <a class="sidebar__link" title="Pages" href="">
          <ion-icon name="albums-outline"></ion-icon>
          <span class="sidebar__link-text"> Pages </span>
        </a>
        <div class="sidebar__dropdown">
          <ul>
            <li>
              <a href="login.html">Login</a>
            </li>
            <li>
              <a href="register.html">Register</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="sidebar__link" title="Components" href="">
          <ion-icon name="diamond-outline"></ion-icon>
          <span class="sidebar__link-text"> Components </span>
        </a>
        <div class="sidebar__dropdown">
          <ul>
            <li>
              <a href="buttons.html">Buttons</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="sidebar__link" title="Charts" href="">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <span class="sidebar__link-text"> Charts </span>
        </a>
      </li>
    </ul>
  </div>
</div>
