<div class="sidebar">
  <div class="brand">
    <a class="brand__link" href="">
      <img src="img/logo2.png" class="brand__logo" alt="" />
    </a>
  </div>
  <div class="sidebar__menu">
    <ul class="sidebar__list">
      <li>
        <a
          class="sidebar__link sidebar__link--active"
          title="Dashboard"
          href=""
        >
          <ion-icon name="pizza-outline"></ion-icon>
        </a>
      </li>
      <li>
        <a class="sidebar__link" title="Pages" href="">
          <ion-icon name="albums-outline"></ion-icon>
        </a>
      </li>
      <li>
        <a class="sidebar__link" title="Components" href="">
          <ion-icon name="diamond-outline"></ion-icon>
        </a>
      </li>
      <li>
        <a class="sidebar__link" title="Charts" href="">
          <ion-icon name="pie-chart-outline"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
